.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  background-color: rgb(113, 187, 113);

  padding-left: 5px;
  padding-right: 5px;
}

.left-section {
  display: flex;
  width: 700px;
  align-items: center;
  font-family: Dancing Script, Roboto;
}

.left-section img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 0.5px -0.5px;
  margin-right: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
  border: rgb(9, 61, 9) 1px solid;
}

.page-title {
  font-size: 30px;
}

.right-section {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.event-type-anchor {
  font-size: 15px;
  margin-left: 13px;
}

.anchor {
  color: black;
  text-decoration: none;
}

.anchor:hover {
  opacity: 0.8;
}

.anchor:active {
  opacity: 0.7;
}

@media (max-width: 400px) {
  .page-title {
    font-size: 15px;
  }
}
